@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}

.inheritencetutcardChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-300);
  width: 600px; /* Increase the width */
  height: 300px; /* Increase the height */
}

.inheritencetutcardItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background: linear-gradient(96.5deg, #4f79f1 36.98%, #7764e8);
  width: 800px; /* Increase the width */
  height: 150px; /* Increase the height */
}

.inheritencetutcard {
  position: absolute;
  top: 54px;
  left: 0;
  width: 1100px; /* Increase the width */
  height: 300px; /* Increase the height */
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.inheritencetutcard:hover {
  filter: drop-shadow(0 4px 4px rgba(79, 121, 242, 0.7));
  animation: 1s ease 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
