@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.polymorphismtutcardChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-300);
  width: 200px;
  height: 240px;
}
.polymorphismtutcardItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background: linear-gradient(101.29deg, #8874db 36.98%, #775ab4);
  width: 200px;
  height: 126px;
}
.allowsObjectsTo {
  position: absolute;
  top: 161px;
  left: 25px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.02em;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-darkgray);
  display: inline-block;
  width: 151.5px;
  height: 49.7px;
}
.polymorphismtutcardInner,
.rectangleDiv {
  position: absolute;
  top: 109px;
  left: 9px;
  border-radius: var(--br-21xl);
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), #fff;
  width: 181.4px;
  height: 6px;
}
.rectangleDiv {
  width: 80px;
}
.polymorphism {
  position: absolute;
  top: 138px;
  left: 25px;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  width: 90.7px;
  height: 13.4px;
}
.polymorphismtutcardChild1 {
  position: absolute;
  top: 109px;
  left: 8px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-midnightblue-100);
  width: 74px;
  height: 6px;
}
.div {
  position: absolute;
  top: 94px;
  left: 9px;
  line-height: 110%;
  font-weight: 500;
}
.polymorphismtutcard {
  width: 200px;
  height: 240px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.polymorphismtutcard:hover {
  filter: drop-shadow(0 4px 4px rgba(100, 28, 255, 0.7));
  animation: 1s ease 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
